*{
  font-size: 40px;
  font-family: 'Cambria';
  
}
body{
  background-color: azure;
}
.nav {
  background-color: black;
}
.nav a{
  color:white;
  text-decoration: none;
  margin-left: 10%;
}
img{
  width: 480px;
}